<div class="field">
    <label class="label">Système Horaire</label>
    <div class="select">
      <select name="param1" id="param1">
        <option value="12">Format 12h : AM/PM</option>
        <option value="24">Format 24h</option>
      </select>
    </div>
    <p class="help">Plutôt 14h02 ou 02:02 PM</p>
</div>