<div class="field">
    <label class="label">Entreprise 1</label>
    <div class="control">
      <input class="input" type="text" placeholder="Apple" name="param1" id="param1" value="<%= widget.param1 %>" required>
    </div>
</div>
<div class="field">
    <label class="label">Entreprise 2</label>
    <div class="control">
      <input class="input" type="text" placeholder="Alphabet" name="param2" id="param2" value="<%= widget.param2 %>" required>
    </div>
</div>