<div class="field">
    <label class="label">Taux de Rafraichissement</label>
    <div class="control">
        <input type="range" name="param1" min="30000" max="300000" step="10000" value="<%= widget.param1 %>" id="param1"
            onchange="updateTextInput(this.value);" />
        <output id="textOutput" value="<%= widget.param1 %>">
    </div>
    <p class="help">en ms - Minimum 30 000</p>
</div>
<br>
<label class="label">Type</label>
<div class="select">
    <select name="param2" id="param2">
        <option value="1">Film</option>
        <option value="2">Série</option>
    </select>
</div>
<br>

<script>
    function updateTextInput(val) {
        document.getElementById('textOutput').value = val;
    }
</script>