<div class="field">
    <label class="label">Taux de Rafraichissement</label>
    <div class="control">
      <input type="range" name="param1" min="30000" max="300000" step="10000" value="<%= widget.param1 %>" id="param1" onchange="updateTextInput(this.value);"/>
      <output id="textOutput" value="<%= widget.param1 %>">
    </div>
    <p class="help">en ms - Minimum 300 000</p>
</div>
<div class="field">
    <label class="label">Latitude</label>
    <div class="control">
      <input class="input" type="text" placeholder="48.85" name="param2" id="param2" value="<%= widget.param2 %>" required>
    </div>
    <p class="help">si besoin cliquez <a href="https://www.coordonnees-gps.fr/" target="_blank">ici</a></p>
</div>
<div class="field">
    <label class="label">Longitude</label>
    <div class="control">
      <input class="input" type="text" placeholder="2.3514616" name="param3" id="param3" value="<%= widget.param3 %>" required>
    </div>
    <p class="help">si besoin cliquez <a href="https://www.coordonnees-gps.fr/" target="_blank">ici</a></p>
</div>
<script>
  function updateTextInput(val) {
            document.getElementById('textOutput').value=val; 
          }
  </script>